*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* SERVICE HERO SECTION CSS */
.services_hero{
    position: relative;
}

.services_hero_bgImg{
    width: 100%;
    height: 40rem;
    margin-top: 0;
}
.services_hero_bgImg img{
    width: 100%;
    height: 100%;
}


.services_hero_container{
    max-width: 100%;
    padding: 0 8em;
    display: flex;
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.service_hero_form_section{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    width: 70%;
}


.form_control{
    margin: 2rem 0;
}

.form_button_wrapper{
    display: flex;
    justify-content: fle;
    align-items: center;
}

.form_arrow{
    width: 2rem;
    height: 2rem;
    background-color: #e3204a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
/* /SERVICE HERO SECTION CSS */

.service_help-section{
    padding: 5rem 0;
}

.service_help_head{
    width: 22%;
}

.service_help_container{
    max-width: 100%;
    padding: 0 9%;
    display: flex;
}

@keyframes bgMove{
    0% {
        background-position: 0 100%;
    }
    
    100% {
        background-position: 100% 100%;
    }
}


.text_gradiant{
    background: linear-gradient(90deg, #0011ff, #fff, #09aef0, #fff);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation: bgMove 3s linear infinite reverse;
    mix-blend-mode: normal;
}

.card_img{
    width: 4em;
    height: 4em;
    background-color: rgba(164, 161, 161, .5);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 1.5em 0;
}
.card_img img{
    width: 2.5em;
    height: 2.5em;
}

.service_help_card_wrapper{
    width: 78%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
}

.service_card{
    width: 33.33%;
    padding: 0.75em;
    height: auto;
}

.service_card-title{
    font-size: 1.5rem;
    color: gray;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
}

.service_card_para{
    color: gray;
    font-size: 0.9rem;
    font-family: "Moteserrat",sans-serif;
}

.card_arrow_wrapper{
    display: none;

}
.service_card:hover .card_arrow_wrapper{
    display: inline-block;
    color: #002df5;
    font-size: 1.5rem;
}
.service_card:hover .card_img{
    width: 4em;
    height: 4em;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 1.5em 0;
    background-color: #00c3ff;
}