
@media screen and (min-width: 480px) and (max-width: 768px) {


    /* CSS FOR MOBILE VIEW SIDE NAVBAR */
    .mobileSide_nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #ffffff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
    .mobileSide_nav a{
        padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
      color: #3f3f3f;
      display: block;
      transition: 0.3s;
      border-bottom: 1px solid rgb(77, 77, 77);
      margin-left: 1rem;
      }
    
      .mobileSide_nav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        border-bottom: none;
      }
    /* CSS FOR MOBILE VIEW SIDE NAVBAR ENDS HERE */
   
    .navigation{
        display: none;
    }
    .nav-toggle{
        display: block;
    }

    .hero .hero_section_floating_icon{
        display: none;
    }

    /* HEADER SECTOIN */
    .header{
        width: 100%;
    }
    .header .header_container{
        width: 100%;
    }
    .header .header_container .brand_logo{
        width: 20%;
    }
    .header .header_container .brand_logo .brand_logo_anchor{
        width: 100%;
    }
    .header .header_container .brand_logo .brand_logo_anchor img{
        width: 100%;
    }

    .nav_btn.active {
        /* background-color: #666; */
        color: #3f3f3f !important;
      }
    /* /HEADER SECTOIN */

    /* HERO SECTION */

    .hero{
        width: 100%;
        height: 60vh;
        position: relative;
    }
    .hero img{
        width: 100%;
        height: 100%;
        /* display: none; */
    }
    .hero .video{
        height: 96%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .hero .video video{
        width: 100%;
        height: 150%;
    }

    .hero .video_overlay{
        width: 100%;
        height: 48vh;
        margin-top: 0rem;
    }


    .hero .hero_text__area{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero .hero_text__area .hero_text_heading{
        width: 100%;
        margin-top: 0rem;
    }
    .hero .hero_text__area .hero_text_heading .hero_heading{
        width: 100%;
        line-height: 1.5rem;
        align-items: center;
        margin-bottom: 10rem;
    }
    .hero .hero_text__area .hero_text_heading .hero_heading .gradient_text{
      
        font-size: 1.3rem;
        font-weight: 700;  
        margin-left: 1rem;
        margin-top: 0;
    }
    .hero .hero_text__area .hero_text_heading .hero_heading .hero_sub_text{
      
        font-size: 1rem;  
        margin-left: 1rem;
        margin-top: 0;
    }
    .hero .hero_text__area .hero_banner_description{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: -17rem;
    }
    .hero .hero_text__area .hero_banner_description .paragraph_content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10.5rem;
        padding: 0rem 1rem;
    }
    .hero .hero_text__area .hero_banner_description .paragraph_content .hero_anchor{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 1.5rem;
    }
    .hero .hero_text__area .hero_banner_description .paragraph_content .description_text{
        max-width: 100%;
        font-size: 0.7rem;
        line-height: 1rem;
        margin-bottom: 1rem;
    }

    /* CSS FOR BOOTSTRAP JUMBOTRON */
    .container-fluid{
        margin-top: 4rem !important;
    }
    .container-fluid .banner__overlay-section{
        width: 100%;
        height: 125%;
    }
    .container-fluid .banner__text-section{
        width: 100%;
        top: 6rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0 0 !important;
       
    }
    .container-fluid .banner__text-section .banner__left{
        width: 60%;
        margin-top: 2rem; 
        justify-content: center;
    }
    .container-fluid .banner__text-section .banner__left .paragraph_content{
        width: 100%; 
        padding: 0 0.2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .container-fluid .banner__text-section .banner__left .paragraph_content a{
        gap: 1rem;
    }
    .container-fluid .banner__text-section .banner__left .paragraph_content .banner__description_text{
        width: 100%;
        color: white;
        text-align: center; 
        font-size: 0.7rem;
        margin-bottom: 0;
    }
    
    .container-fluid .banner__text-section .banner__right{
        width: 100%; 
    }
    .container-fluid .banner__text-section .banner__right .banner__heading{
        width: 100%;
        line-height: 1.7rem; 
        font-size: 3rem;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center !important;
        text-align: center;
    }
    .container-fluid .banner__text-section .banner__right .banner__heading .banner__gradient_text{
        background: linear-gradient(90deg, #00c2fd, #090181 40%);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 0 white;
        line-height: 2.5rem;
    }
    
    .container-fluid .hero_section_floating_icon{
        position: absolute;
        top: 20%;
        left: 50px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        z-index: 1;  

    }
    .container-fluid .hero_section_floating_icon a{
           border: 1px solid black;
           border-radius: 50%;
           width: 2rem;
           height: 2rem;
           display: flex;
           justify-content: center;
           align-items: center;
    
    }
    /* CSS FOR BOOTSTRAP JUMBOTRON END HERE */

    /* CSS FOR BOOTSTRAP HERO SECTION */
    
    /* CSS FOR BOOTSTRAP HERO SECTION END HERE */
    /* /HERO SECTION */

    /* SERVICES SECTION */
    .services_section{
        width: 100%;
        height: 70vh;
    }
    .services_section .services_left{
        width: 100%;
        background-color: rgb(1, 6, 46);
    }
    .services_section .services_left .services_slider{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .services_section .services_left .services_slider .buttons{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 5rem;
    }
    .services_section .services_left .services_slider .buttons button{
        width: 100%;
        align-items: flex-start;
        padding-top: 0rem;
        font-size: 0.9rem;
        font-family: "Montserrat",sans-serif;
        border-bottom: 1px solid black;
    }
    .services_section .services_left .services_heading h1{
        
        font-size: 2rem;
        color: black ;
        margin-left: 0rem;
    }
    .services_section .services_right{
        display: none !important;
        background-color: white;
    }
    /* /SERVICES SECTION */

    /* OUR WORK SESCTION */
    .our_work_section{
        width: 100%;
        padding: 0rem 1rem;
    }
     .our_work_section .work_heading .work_text{
        width: 100%;
        font-size: 1.5rem;
        padding: 1rem 0;
    }
     .our_work_section .work_heading .work_card_section{
        margin-left: 0rem;
        
    }
     .our_work_section .work_heading .work_card_section .work_card .card_img img{
        width: 300px ;
        height: 250px ;
    }


    /* /OUR WORK SESCTION */

    /* BRAND COLLAB SECTION */

    .collab_brand{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .collab_brand .brand_container{
        width: 100%;
    }
    .collab_brand .brand_container .collab_title{
        margin: 0rem;
        padding-left: 1rem;
        padding-top: 1rem;
        width: 100%;
        font-size: 1rem;
    }

    .collab_brand .collab_brand_section{
        padding-bottom: 2rem;
    }

    .collab_brand .container{
        width: 100%;
    }
    .collab_brand .container .row1{
        width: 100%;
    }
    .collab_brand .container .row1 .col{
        width: 14.2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .collab_brand .container .row1 .col img{
        width: 100%;
    }

    /* /BRAND COLLAB SECTION */

    /* AWARDS SECTION */
    .awards_section{
        width: 100%;
    }

    .awards_head_line{
        width: 100%;
    }
    .awards_head_line .awards_outline{
        width: 100%;
        font-size: 2rem;
    }

    .awards_section .awards_content_wrap{
        width: 100%;
        padding: 0rem;

    }
    .awards_section .awards_content_wrap .awards_text_section{
        width: 100%;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        align-items: center !important;
    }

  

    .awards_section .awards_content_wrap .awards_text_section .awards_content_area h2{
        width: 100% !important;
    }

    .awards_content_area{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0rem;
        padding: 0rem;

    }

    .awards_section .awards_content_wrap .awards_content_area .awards_txt-area{
        width: 100% !important;
        padding: 0rem 1rem;
    }

    .awards__right-section{
        width: 100%;
        padding: 0rem 1rem;
    }



    /* AWARDS SECTION ENDS HERE */

    /* FAQ SECTION CSS STARTS HERE */
    .faq_section{
        width: 100%;
    }

    .faq_section .faq_card_section{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin: 0;
        padding: 1rem 1rem;

    }
    .faq_section .faq_card_section .swiper_slide_card{
        width: 100% !important  ;
        height: 300px;
        padding: 0;
        margin: 0;
    }


    /* /FAQ SECTION CSS STARTS HERE */

    /* GET SOCIAL SECTION */
   .get_social_section{
    width: 100%;
    margin-top: 3rem;
   }

   .get_social_section .get_social_container{
    max-width: 100%;
    padding: 0rem 0rem;
   }
   .get_social_section .get_social_container .get_social_head{
    width: 100%;
   }
   .get_social_section .get_social_container .get_social_head .get_social_title{
    width: 100%;
    text-align: center;
   }
   .get_social_section .get_social_container .get_social_head .get_social_subtitle{
    width: 100%;
    font-size: 1.1rem;
    font-family: "Montserrat",sans-serif;
    text-align: center;
    padding: 1rem 0rem;
   }

   .get_social_section .get_social_container .getSocial_wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   }

   .get_social_section .get_social_container .getSocial_wrapper .getSocial_card{
    width: 100%;
   }

   .get_social_section .get_social_container .getSocial_wrapper .getSocial__card{
    width: 50%;
   }
    /* /GET SOCIAL SECTION */

    /* FOOTER SECTION */
    .footer{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 140vh;
        display: flex;
        flex-direction: column;

    }

    .footer .footer_left{
     width: 100%;
     height: 52%;
     background-color: rgb(56, 56, 56);
    padding-bottom: 1rem;
    padding-left: 0 !important;
    padding-top: 0;

    }

    .footer_left_para{
        padding-right: 0.5rem;
        font-size: 1.2rem;
        margin: 0 5rem 0rem 0;
    }

    .footer .footer_right{
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 49%;
        /* padding-bottom: 1.5rem; */
        /* padding-top: 3rem; */
        /* padding-left: 5rem; */
    }

    .footer .footer_right .footer_right_listItems{
        margin: 0;
    }
    
    .footer .footer_right .footer_right_listItems{
        padding: 0;
    }

    
    .footer .footer_right .footer_right_listItems .first_list{
        padding-right: 0 !important;
        padding-left: 1rem;
        padding-bottom: 10rem;
    }
    .footer .footer_right .footer_right_listItems .third_item{
        padding-right: 0 !important;
        padding-left: 0rem;
        padding-bottom: 10rem;
    }

    .footer .footer_right .footer_right_listItems .second_item,.third_item{
        padding-right: 0 !important;
    }

    .footer .footer_right .footer_right_listItems .first_list .footer_right_p{
        border-left: none;
        padding: 0;
        font-size: 1rem;
        margin-left: 0 !important;
        margin-bottom: 0;
    }
    .footer .footer_right .footer_right_listItems .second_item{
        padding-bottom: 10rem;
    }
    .footer .footer_right .footer_right_listItems .second_item .footer_right_p{
        border-left: none;
        padding: 0;
        font-size: 1rem;
        margin-left: 0 !important;
        margin-bottom: 0;
    }
    .footer .footer_right .footer_right_listItems .third_item .footer_right_p{
        border-left: none;
        padding: 0;
        font-size: 1rem;
        margin-left: 0 !important;
        margin-bottom: 0;
    }
    .footer .footer_right .footer_right_listItems .third_item ul{
        padding-left: 0;
        padding-right: 1rem;
    }
    .footer .footer_right .footer_right_listItems .second_item ul{
        padding-left: 0;
        padding-right: 1rem;
    }

    .footer .footer_right .footer_right_listItems .first_list ul{
       padding-left: 0;
       padding-right: 1rem;
    }


    .footer .footer_main_title{
        font-size: 1.5rem;
        position: absolute;
        left: 3rem;
    }

    .footer .footer_left .footer_left_content{
        position: absolute;
        left: 2rem;
        top: 7rem;
    }
    .footer .footer_left .footer_address_section{
        position: absolute;
        left: 2rem;
        top: 15rem;
        margin: 0rem;
        padding-right: 0.2rem;
    }
    .footer .footer_left .footer_address_section .footer_contact_number{
        display: flex;
        /* margin-bottom: -1.5rem; */
    }
    .footer .footer_left .footer_address_section .address{
        font-size: 1.1rem;
        margin: 0 7rem 0 0;
    }

    .footer_quick_link{
        position: absolute;
        top: 400px;
        margin-left: 2rem;
    }

    .footer_quick_link{
        display: block;
    }

    .toggle_para{
        color: white;
    }

    .toggle_quick_links{
        /* display: none; */
    }

    .footer_comma{
        display: block;
    }

    /* BOOTSTRAP FOOTER CSS  */

    /* BOOTSTRAP FOOTER CSS END HERE */

    /* /FOOTER SECTION */


/* CSS FOR ABOUT PAGE */
.aboutUs_hero{
    width: 100%;
}
.aboutUs_hero .about_container{
    width: 100%;
}
.aboutUs_hero .about_container .twocol__row{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.aboutUs_hero .about_container .twocol__row .col-36{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.aboutUs_hero .about_container .twocol__row .col-36 .generic--head__head{
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.aboutUs_hero .about_container .twocol__row .col-30{
    width: 100%;
    
}

/* STRATEGY SECTION */
.strategy_concept{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.strategy_concept .strategy_concept_twocol_row{ 
    width: 100%;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}
.strategy_concept .strategy_concept_twocol_row .strategy_left_img{ 
    width: 100%;
}
.strategy_concept .strategy_concept_twocol_row .strategy_left_img img{ 
    width: 100%;
}
.strategy_concept .strategy_concept_twocol_row .strategy_right_heading{ 
    width: 100%;
}
.strategy_concept .strategy_concept_twocol_row .strategy_right_heading h3{ 
    font-size: 1.5rem;
    margin-top: 1rem;
}

.strategy_concept  .strategy_concept_twocol_row .strategy_left_heading{
    width: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    padding: 1rem;
    
}
.strategy_concept  .strategy_concept_twocol_row .strategy_left_heading .strategy__headign{
    width: 100%;
    font-size: 1rem;

}

.strategy_concept .strategy_concept_twocol_row .strategy_right_img_grid{
    width: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0rem;
    padding: 0rem;
}

.strategy_concept .strategy_concept_twocol_row .strategy_right_img_grid .strategy_concept_card{
    width: 100% ;
    margin: 0rem;
    padding: 0rem;
}

.strategy_concept .strategy_concept_twocol_row .strategy_right_img_grid .strategy_concept_card.strategy_card_txt{
    padding: 1rem;
}
.strategy_concept .strategy_concept_twocol_row .strategy_right_img_grid .gray_bg{
    width: 100% ;
    margin: 0rem;
    padding: 0rem;
}
/* /STRATEGY SECTION */

 /* FUTURISTIC TECHNOLOGY */
 .futuristic_head{
    font-size: 1.5rem;
 }

 .futuristic_technology_list li {
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .futuristic_technology_list li img{
    width: 1.5em;
    height: 1.5em;
 }

 .experties_outline_text{
    width: 100%;
    font-size: 2rem;
    margin-top: 1.5rem;
 }

 /* FAQ CSS STARTS S */

 .worth_read{
    width: 100%;
 }
 .worth_read .worth_heading{
    width: 100%;
    padding-left: 2rem;
 }

 .worth_read .worth_heading .outline{
    width: 100%;
    font-size: 2.5rem !important;
 }

 .worth_read .worth_read_section{
    width: 100%;
 }
 .worth_read .worth_read_section .worth_read_card{
    width: 100%;
 }
 /* /FUTURISTIC TECHNOLOGY */

/* CSS FOR ABOUT PAGE ENDS HERE*/

/* CSS FOR SERVICES PAGE */

.services_hero{
    width: 100%;
    height: 100vh;
}
.services_hero .services_hero_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    
}
.services_hero .services_hero_container .services_hero_head{
    width: 100%;
}
.services_hero .services_hero_container .services_hero_head .services_head__head{
    width: 100%;
    padding: 0rem 0rem;
}

.services_hero .services_hero_container .service_hero_form_section{
    width: 100%;
    padding: 1rem;
    height: 34rem;
}

.services_hero .services_hero_bgImg{
    height: 50rem;
}

.service_help-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8rem;
}
.service_help-section .service_help_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service_help-section .service_help_container .service_help_head{
    width: 100%;
}

.service_help-section .service_help_container .service_help_card_wrapper{
    width: 100% ;
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);  */
    margin: 0rem auto;
}
.service_help-section .service_help_container .service_help_card_wrappe .service_card{
    width: 50%;
}
 .service_card-title{
    font-size: 0.5rem;
}

.service_card_para{
    font-size: 0.5rem;
}
.service_help-section .service_help_container .service_help_card_wrappe .service_card .card_img{
    width: 100%;
}
.service_help-section .service_help_container .service_help_card_wrappe .service_card .card_img img{
    width: 100%;
}


.service_help-section .service_help_container .service_help_head .service_head_title{
    font-size: 1.8rem;
}

/* CSS FOR SERVICES PAGE ENDS HERE */

/* CSS FOR BLOG PAGE STARTS HERE */
.case_studies{
    width: 100%;
}
.case_studies .case-studies__tabs-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    
}
.case_studies .case-studies__tabs-wrapper .button{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem 0;

}

.case_studies .blog-wrapper{
    width: 100%;
}
.case_studies .blog-wrapper .blog_wrapper_container{
    width: 100%;
}
.case_studies .blog-wrapper .blog_wrapper_container .twocolrow{
    width: 100%;
}
.case_studies .blog-wrapper .blog_wrapper_container .twocolrow .card{
    width: 100%;
}

.blogSlider_section{
    width: 100%;
}
.blogSlider_section .blogSlider_container{
    width: 100%;
}
.blogSlider_section .blogSlider_container .card{
    width: 100%;
}
.blogSlider_section .blogSlider_container .card img{
    width: 100%;
}
/* CSS FOR BLOG PAGE ENDS HERE */

/* CSS FOR CAREERS SECTION STARTS HERE */
.internship__section{
    width: 100%;
}
.internship__section .internship_inner_sec{
    width: 100%;
}
.internship__section .internship_inner_sec .internship_heading{
    width: 100%;
    padding: 1rem;
}

.currentOpening_section{
    width: 100%;
}
.currentOpening_section .currentOpening_container{
    width: 100%;
    padding: 0rem;
}
.currentOpening_section .currentOpening_container .currentOpenings_header{
    width: 100%;
}
.currentOpening_section .currentOpening_container .currentOpenings_header p{
    width: 100% !important;
}

.currentOpening_section .currentOpening_container .currentOpenings_cards_section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0rem;
}
.currentOpening_section .currentOpening_container .currentOpenings_cards_section .currentOpenings_card{
    width: 100%;
}

/* CSS FOR CULTURE SESCTION */
.culture_section{
    width: 100%;
}
.culture_section .culture_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.culture_section .culture_container .culture_leftSection{
    width: 100%;
}
.culture_section .culture_container .culture_leftSection .culture_line_heading{
    width: 100%;
    margin-left: 0;
    padding-left: 3rem;
}
.culture_section .culture_container .culture_leftSection .culture_line_heading .culture_outline_text{
    width: 100%;
    font-size: 2rem;
}

.culture_section .culture_container .culture_leftSection .culture_imgWrapper{
    width: 100%;
    margin-top: 0rem;
    padding: 3rem;
}

.culture_section .culture_container .culture_leftSection .culture_play_btn{
    width: 20%;
}
.culture_section .culture_container .culture_leftSection .culture_play_btn img{
    width: 100%;
}

.culture_section .culture_container .culture_rightSection{
    width: 100%;
}
.culture_section .culture_container .culture_rightSection .culture_rightsec_wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.culture_section .culture_container .culture_rightSection .culture_rightsec_wrapper .culture_img_wrapper{
    width: 50%;
}
.culture_section .culture_container .culture_rightSection .culture_rightsec_wrapper .culture_img_wrapper img{
    width: 100%;
}
/* /CSS FOR CULTURE SESCTION */

/* CSS FOR HAPPY CLIENTS SECTION */
.happyemployee_section{
    width: 100%;
}
.happyemployee_section .happyemployee_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 0rem;
}
.happyemployee_section .happyemployee_container .happyemployee_left_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.happyemployee_section .happyemployee_container .happyemployee_left_section .happyemployee_title{
    width: 100%;
}
.happyemployee_section .happyemployee_container .happyemployee_left_section .happyemployee_title .happyemployee_heading{
    width: 100%;
    padding-left: 1rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-family: "Montserrat", sans-serif;
}
.happyemployee_section .happyemployee_container .happyemployee_left_section .happyemployee_title .happyemployee_heading .employeesSays{
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    font-family: "Montserrat", sans-serif;
}

.happyemployee_section .happyemployee_container .happyemployee_left_section .happyemployee_img_wrapper{
    width: 100%;
}
.happyemployee_section .happyemployee_container .happyemployee_left_section .happyemployee_img_wrapper img{
    width: 100%;
    padding: 1rem 2rem;
}

.happyemployee_section .happyemployee_container .happyemployee_right_section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}
.happyemployee_section .happyemployee_container .happyemployee_right_section .happyCard_slide_container{
    width: 100%;
}
.happyemployee_section .happyemployee_container .happyemployee_right_section .happyCard_slide_container .happyCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.happyemployee_section .happyemployee_container .happyemployee_right_section .happyCard_slide_container .happyCard .card_img{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.happyemployee_section .happyemployee_container .happyemployee_right_section 
.happyCard_slide_container .happyCard .card_img img{
    width: 60%;
    margin-top: 25rem;
}
/* /CSS FOR HAPPY CLIENTS SECTION */
/* CSS FOR CAREERS SECTION ENDS HERE */

/* CSS FOR CASE STUDY STARTS HERE  */
.study_case_grid-layout{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 1rem;
}
.study_case_grid-layout .caseStudy_card{
    width: 100%;
    margin: 0rem 1rem;
}

.right_heading{
    width: 100%;
    display: none;
}

.view_case-study span{
    font-size: 0.8rem;
    font-weight: 700;
    margin-right: 0.5rem !important;
}

.case_study_subheading{
    font-size: 0.7rem;
}
/* ANOTHER CARD SECTION */
.three-row-layout{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 6rem 0;
}
.three-row-layout .three-row-card{
    width: 100%;
}

/* /ANOTHER CARD SECTION */

/* CSS FOR CASE STUDY ENDS HERE  */

/* CSS FOR FLOATING SOCIAL ICONS */

.floating_icon{
    display: flex;
    position: fixed;
    bottom: 2.5em;
    left: 2em;
    flex-direction: column;
    z-index: 9;
}

.floating_btn{
    width: 4rem;
    height: 4rem;
    bottom: 55px;
    left: 82vw;
    position: fixed;
    z-index: 1000;
    border: 0px;
    color: white;
    border-radius: 50%;
    background-color: #003afa;
}
/* CSS FOR FLOATING SOCIAL ICONS ENDS HERE */

    .services_hero.query_services_hero{
        height: 60rem;
    }
    .services_hero.query_services_hero .services_hero_bgImg{
        height: 100%;
    }

    .services_hero .query_form_section{
        width: 100%;
        padding: 0 3% !important;

    }
    .query_form_section .query_Form-sub_section{
        width: 100%;
    }
    .query_form_section .query_Form-sub_section .query_form_title{
        width: 100%;
        padding: 0;
    }
    .query_form_section .query_Form-sub_section .quey_form_section2{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    .query_form_section .query_Form-sub_section .quey_form_section2 .form_content{
        width: 100%;
       
    }
    .query_form_section .query_Form-sub_section .quey_form_section2 .form_content .form_heading{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .query_form_section .query_Form-sub_section .quey_form_section2 .form_content .form{
        width: 100%;
    }
    .query_form_section .query_Form-sub_section .quey_form_section2 .form_content .form .form_fields{
        width: 100%;
    }
    .query_form_section .query_Form-sub_section .quey_form_section2 .form_content .form .form_fields .form_input_container{
        width: 100%;
    }
    .query_form_section .query_Form-sub_section .quey_form_section2 .form_content 
    .form .form_fields .form_input_container .label{
        width: 100%;
        font-size: 0.85rem;
        margin-bottom: 0.5rem;
    }
    .query_form_section .query_Form-sub_section .quey_form_section2 .form_content 
    .form .form_fields .form_input_container .input{
        width: 100%;
        padding: 0.3rem 0.2rem;
    }
    .query_form_section .query_Form-sub_section .query_form_title .query_title{
        width: 100%;
        font-size: 2rem;
    }
    .query_form_section .query_Form-sub_section .query_form_title .query_para{
        width: 100%;
        font-size: 0.8rem;
        font-weight: 400;
    }

    .query_form_section .query_Form-sub_section .quey_form_section2 .form_content .form .submit_section{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .query_form_section .query_Form-sub_section .quey_form_section2 .form_content .form .submit_section .submit_btn{
        width: 100%;
        display: flex;
    }
    .query_form_section .query_Form-sub_section .quey_form_section2 .form_content .form .submit_section .form_footer_text{
        width: 100%;
    }
    .query_form_section .query_Form-sub_section .quey_form_section2 
    .form_content .form .submit_section .form_footer_text p{
        font-size: 0.79rem;
    }

/* CSS FOR QUERY PAGE ENDS HERE */


/* BLG PAGE CSS */


.container{
    padding: 0;
    display: flex;
    flex-wrap: wrap;

}

.filterDiv{
    width: 100% !important;
}
.filterDiv .card{
    width: 100%;
}

#myBtnContainer{
    display: flex;
    flex-direction: column;
}
#myBtnContainer .btn{
    width: 100%;
    display: flex;
    flex-direction: column;
}



}
/* BLG PAGE CSS ENDS HERE */